/* Common Styles
*
* Style for common tags in all document
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

dl {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

dt{
    font-weight: bold;
}

body{
    margin-bottom: 1em;
}
dd{
    margin-bottom: 0.3em;
}


/* Page Styles
*
* Layout de la página
*/

#main {
    position: fixed;
    width: 100%;
    height: 100%;
}

#main > .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;

    background-color: #ffffff;
}

#main > footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

    border-top: 3px solid #63604f;
    background-color: white;
}

.horizontal-columns {
    -webkit-column-width : 15em;
    -webkit-column-gap : 2rem;

    -webkit-overflow-scrolling: touch;
    -webkit-column-fill: auto;

    overflow-x: scroll;
}


/* Botones del footer */

.footer button, .footer div{
    height: 100%;
}

.footerButtons{
    display: table-row;

}

.footerButtons div{
    display: table-cell;

}

.rightButtons{
    text-align: right;
}




/* Orders Styles
*
* Styles for orders and main container
*/




.order{
    height: auto;
    margin-bottom: 0.6em;
    border: 0.1em solid #757260;
    padding: 0.1em;
    margin: 0.3em;
    -webkit-animation-duration: 1s;
    -webkit-box-shadow: 3px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #FCF9E7;
}

.reading-canvas p:last-child {
    margin-bottom:0
}













/* Extra Styles
*
* Style for buttons and controls
*/

#controls{
    margin-left:2em ;
}
