/* Common Styles
*
* Style for common tags in all document
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

dl {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

dt{
    font-weight: bold;
}

body{
    margin-bottom: 1em;
}
dd{
    margin-bottom: 0.3em;
}


/* Page Styles
*
* Styles for orders and main container
*/

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 3em;
    border-top: 3px solid #63604f;
    background-color: white;
    display:table;
    border-collapse:collapse;
}

.footer button, div{
    height: 100%;
}

.footerButtons{
    display: table-row;

}

.footerButtons div{
    display: table-cell;

}

.rightButtons{
    text-align: right;
}




/* Orders Styles
*
* Styles for orders and main container
*/


#mainContainer{

    width: 0 auto;
    margin: 1em;
    margin-bottom: 0.1em;
    -webkit-box-sizing: border-box;
    background-color: #ffffff;
    max-height: 80vh;
    overflow-y:hidden;

    border: 0.1em solid #63604f;
    -webkit-border-radius: 5px 5px 5px 5px;

}

.order{
    height: auto;
    margin-bottom: 0.6em;
    border: 0.1em solid #757260;
    padding: 0.1em;
    margin: 0.3em;
    -webkit-animation-duration: 1s;
    -webkit-box-shadow: 3px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #FCF9E7;
}

.reading-canvas {
    height : 90vh;

    -webkit-column-width : 10em;
    -webkit-column-gap : 0.5rem;
    -webkit-overflow-scrolling:touch;
    -webkit-column-fill: auto;

    white-space : normal;
    margin-right: 1em;
    overflow-x: scroll;
    overflow: scroll;

    column-width: 15em;
    column-gap: 1px;
    column-fill : auto;
}
.reading-canvas p:last-child {
    margin-bottom:0
}













/* Extra Styles
*
* Style for buttons and controls
*/

#controls{
    margin-left:2em ;
}
