/* Common Styles
*
* Style for common tags in all document
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

dl {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

dt{
    font-weight: bold;
}

body{
    margin-bottom: 1em;
}
dd{
    margin-bottom: 0.3em;
}


/* Page Styles
*
* Layout de la página
*/

#main {
    position: fixed;
    width: 100%;
    height: 100%;
}

#main > .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;

    background-color: #C3C3C3;
}

#main > footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;

    border-top: 3px solid #63604f;
    background-color: white;
}

.horizontal-columns {
    -webkit-column-width : 200px;
    -webkit-column-gap : 10px;

    -webkit-column-break-inside: left;

    -webkit-overflow-scrolling: touch;
    -webkit-column-fill: auto;
    padding-left: 10px;
    overflow-x: scroll;

}

.horizontal-columns .overview {
    width: 1000px;
}

/* Botones del footer */

.footerButtons>div{
    height: 100%;
    display:inline-block;
}

.footerButtons input{
    height: 100%;
}

.footerButtons{
    height: 100%;
}

.rightButtons{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

/* Orders Styles
*
* Styles for orders and main container
*/


.order{
    margin-bottom: 0.6em;
    padding: 10px;
    -webkit-animation-duration: 1s;
    -webkit-box-shadow: 3px 0px 8px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #FCF9E7;
}

.reading-canvas p:last-child {
    margin-bottom:0
}


/* Extra Styles
*
* Style for buttons and controls
*/

#controls{
    margin-left:2em ;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background-color: rgba(47, 73, 221, 0.50);
    width: 30px;
}
